services:
  mariadb:
    image: mariadb:11.8
    environment:
      MYSQL_ROOT_PASSWORD: "nrlapp321"
      MYSQL_DATABASE: "nrlapp"      # koden din bruker nrlapp
    volumes:
      - mariadb_data:/var/lib/mysql
    ports:
      - "3306:3306"                 # koden din bruker port 3306

  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      - mariadb
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      # (trengs ikke hvis du ikke overstyrer connstring fra kode)
    ports:
      - "8080:8080"

volumes:
  mariadb_data:
